<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <thead>
        <th>Title</th>
        <th>Year Released</th>
        <th>Released?</th>
        <th>Genre</th>
        <th>Artist</th>
      </thead>
      <tbody>
        <% @songs.each do |song| %>
          <tr>
            <td>song.title</td>
            <td>song.release_year</td>
            <td>song.released</td>
            <td>song.genre</td>
            <td>song.artist_name</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
